<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pancreatic Cancer</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }
    
    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 0 20px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    h1, p {
      text-align: center;
    }

    li {
      margin-bottom: 20px;
    }

    ol {
      padding-left: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="https://www.omegahospitals.com/assets/images/blog_images/blog_pancreas_3.png" alt="">
    <b>Factors, Tests, Treatment</b>
    <p>Summary: Pancreatic cancer is when cancer cells grow in an uncontrolled manner and form masses or tumors in the pancreas. Tumors can impair the pancreas's ability to function, producing pain and other symptoms. It’s hard to detect pancreatic cancer at an early stage, as cancer may not show symptoms until it has advanced. The pancreatic cancer prognosis tends to be poor because of the disease's aggressiveness and delayed detection.</p>
    
    <li>
      <ol>
        <h1>WHAT IS PANCREATIC CANCER?</h1>
        <p>
          Pancreatic cancer occurs when pancreatic cells develop mutations and become cancerous (malignant). These abnormal cells multiply uncontrollably, grow to form a mass (tumor), and then spread to other body parts. Pancreatic cancer affects the pancreas, which is challenging to identify in its early stages because it can grow for some time before it causes pressure in the stomach or cause any pain sensation.
        </p>
      </ol>
    </li>
    
    <li>
      <h1>WHAT ARE THE PANCREAS, AND WHAT ARE ITS NORMAL FUNCTIONS?</h1>
      <ol>
        <p>
          The pancreas is located behind the stomach in the abdomen and front of the spine. The pancreas is an essential organ in our body, performing both endocrine and exocrine functions. It is crucial in maintaining proper digestion and regulating blood sugar levels. It also aids in digestion through the release of digestive enzymes.
        </p>
      </ol>
    </li>
    <div class="text">  <h6>published By Mohana Vamsy</h6> </div>
  </div>
</body>
</html>
