
<!-- <div class="body">
<div class="card" >
   
    
      
    <div class="imagebox">
        <img src="https://www.omegahospitals.com/assets/images/doctors/hyd/Doctor_DR_Vamsi.jpg" alt="..." class="image1">
        <div class="text1"><h2>Dr.Mohana Vamsi</h2>
        <br><h3>MD,DM(Medical Oncology),MRCP-UK (Medical Oncology)</h3><br><h3>18 Years Of Experience</h3>
    <br><h3><b>Senior Consultant Medical Oncologist and Hematologist</b></h3>
<h2><b>Expertise</b></h2>
<ul>
    <li><h3>Head and Neck Cancers</h3></li>
    <li><h3>Hematological Malignancies</h3></li>
    <li><h3>Lung Cancer</h3></li>
    <li><h3>Urogenital Malignancies</h3></li>
</ul>
</div>

    </div>
    <button>Book an Appointment</button>
  </div>
 
  </div>


  
<div class="body">
  <div class="card" >
     
       
        
      <div class="imagebox">
          <img src="https://www.omegahospitals.com/assets/images/doctors/hyd/narmata.png" alt="..." class="image1">
          <div class="text1"><h2>Dr. CH Namrata</h2>
          <br><h3>MD,DM(Medical Oncology),MRCP-UK (Medical Oncology)</h3><br><h3>14 Years Of Experience</h3>
      <br><h3><b>Director-Oncology Services, Consultant Medical Oncologist & Hemato Oncologist</b></h3>
  <h2><b>Expertise</b></h2>
  <ul>
      <li><h3>Lymphomas, Leukaemia & all Haematological Malignancies</h3></li>
      <li><h3>Chemotherapy for Breast, Ovarian, Lung, Colon Cancers, etc</h3></li>
      <li><h3>Autologous Stem Cell Transplantation</h3></li>
      <li><h3>Cancer Screening</h3></li>
  </ul>
  </div>
  
      </div>
      <button>Book an Appointment</button>
    </div>
   
    </div> -->

    <div class="body">
      <div class="card">
        <div class="image">
          <img
            src="https://www.omegahospitals.com/assets/images/doctors/hyd/Doctor_DR_Vamsi.jpg"
            class="image"
          />
        </div>
        <div class="text">
          <div class="details">
            <h2>Dr.Mohana Vamsi</h2>
    
            <h6>
              MD Radiation Oncology (Manipal), DM Medical Oncology (Jipmer), MRCP
              Medical Oncology (U.K), European Certified Medical Oncologist (ECMO)
            </h6>
            <h4>13 Years Of Experience</h4>
          </div>
          <div class="viewprofile">
            <button routerLink="profile1">View profile</button>
          </div>
        </div>
        <div class="timings">
         <h3> Day time OPD</h3>
         <h2>MON - SAT</h2>
    09:00 AM - 05:00 PM
    
    <h3>Evening OPD</h3>
    <h2>  MON - SAT </h2>
    05:00 PM - 06:30 PM
    
        </div>
      </div>
    
      <div class="body">
        <div class="card">
          <div class="image">
            <img
              src="https://www.omegahospitals.com/assets/images/doctors/hyd/narmata.png"
              class="image"
            />
          </div>
          <div class="text">
            <div class="details">
              <h2>Dr.CH Namrata</h2>
    
              <h6>
                CEO and Medical Director  MD, DM (Medical Oncology), MRCP-UK (Medical Oncology), ECMO, PDCR
    
    
              </h6>
              <h4>18 Years Of Experience</h4>
            </div>
            <div class="viewprofile">
              <a routerLink="profile2">
              <button >View profile</button>
              </a>
            </div>
          </div>
          <div class="timings">
            <h3> Day time OPD</h3>
            <h2> SAT</h2>
       10:00 AM - 05:00 PM
       
      
       
           </div>
        </div>
      </div>
    </div>