<article>
    <figure>
      <img src="https://www.omegahospitals.com/assets/images/doctors/hyd/narmata.png" alt="Dr. Namratha Sai Reddy" class="image">
      <figcaption><b>Dr. Namratha Sai Reddy</b></figcaption>
    </figure>
  
    <section>
      <p>
        Dr. Namratha Sai Reddy is a highly qualified and accomplished medical professional with expertise in Medical Oncology. She holds an impressive academic background, completing her MBBS from Dr. NTR UHS Vijayawada in 2015, where she excelled in her studies. Subsequently, she pursued her MD in Radiation Oncology from RGUHS, Bangalore, and earned the distinction of being a University Gold Medalist in 2019.
      </p>
  
      <p>
        Furthermore, Namratha Sai Reddy obtained a DoctorNB in Medical Oncology from Omega Hospital in 2023, which was certified by NBE in New Delhi. Additionally, she obtained the ECMO certification in 2022 and completed a Professional Diploma in Clinical Research (PDCR) in 2023.
      </p>
  
      <p>
        Apart from her exceptional academic achievements, Dr. Namratha Sai Reddy has also contributed significantly to the medical literature with her research publications. She has published case reports and literature reviews on topics like SARS-CoV-2 pneumonitis or differentiation syndrome and synchronous serous carcinoma of the ovary and clear cell carcinoma of the kidney.
      </p>
  
      <p>
        Dr. Namratha Sai Reddy is an active participant in various medical conferences and has attended prestigious events like the Apollo Cancer Conclave in Hyderabad, Indian Myeloma Congress in Hyderabad, ISMPOCON (hybrid virtual conference) in Bengaluru, Master class on uro oncology in Mumbai, and Indian Cancer Congress in Bengaluru.
      </p>
  
      <p>
        Dr. Namratha Sai Reddy's dedication to her field is evident through her affiliations with esteemed organizations such as AROI (Association of Radiation Oncologists) and MOF (Medical Oncology Forum).
      </p>
    </section>
  </article>
