<form>   
    <div class="card-container">
      <div *ngFor="let doctor of doctors" class="card">
        <div class="card-content">
          <img src="{{ doctor.image }}"/>
         
          <p><b>Name:</b> {{ doctor.name }}</p>
          <p><b>Designation:</b> {{ doctor.designation  }}</p>
          <p><b>Unit:</b>{{doctor.unit}}</p>
          <p><b>EducationalQualification:</b>{{doctor.educationalQualification}}</p>
          <p><b>YearsOfExperience:</b>{{doctor.years_of_experience}}</p>
        </div>
       
      </div>
    </div>
  
</form>



