/* Styles for the container of doctor cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
    gap: 20px;
  }
  
  /* Styles for individual doctor cards */
  .doctor-card {
    width: 300px;
    border: 1px solid #7d2222;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  /* Styles for the card content */
  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  /* Styles for the doctor's image */
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Styles for the doctor's name */
  h2 {
    margin-top: 0;
  }
  
  /* Styles for other details */
  p {
    margin: 5px 0;
  }
  
  /* Styles for the book appointment button */
  button {
    background-color: cornflowerblue;
    color: azure;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 0 0 10px 10px; /* Adjust to match the image border radius */
    transition: 0.3s;
  }
  
  /* Hover effect for the button */
  button:hover {
    transform: scale(1.05);
  }
  .snackbar-success {
    background-color: green;
    color: white;
  }